**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/node_modules
**/obj
**/.idea
LICENSE
README.md
exclude-from-pi.txt
copy-to-pi.bash
/gifting-center/.ide
/gifting-center/.vs
/gifting-center/tests
/gifting-center/gifting-center.sln.DotSettings.user
/gifting-center/gifting-center.Api/bin
/gifting-center/gifting-center.Api/obj
/gifting-center/gifting-center.Api/gifting-center.Api.csproj.user
/gifting-center/gifting-center.Data/bin
/gifting-center/gifting-center.Data/obj
/gifting-center/gifting-center.Logic/obj
/gifting-center/gifting-center.Logic/bin
/ui-react
/.github
/postgres-data
